@import "tailwindcss";






:root {
  /* 
  Primary | Brand | Blue

  */
  --primary-100: #ffffff;
  --primary-98: #f5f9fe;
  --primary-95: #e7f0fe;
  --primary-90: #cfe1fc;
  --primary-80: #9ec3fa;
  --primary-70: #6ea5f7;
  --primary-60: #3d87f5;
  --primary-50: #0d69f2;
  --primary-40: #0a54c2;
  --primary-30: #0e418b;
  --primary-20: #092b5d;
  --primary-10: #05162e;

  --shades-90: #e1e5ea;
  --shades-70: #a6b0bf;
  --shades-50: #6b7c94;
  --shades-30: #404a59;
  --shades-10: #15191e;
}

@layer components {
  .wrapper {
    @apply mx-auto px-4;
  }
  
  .btn {
    @apply px-6 py-2 rounded-full  font-medium inline-flex items-center justify-center tracking-tight;
  }
  .btn-primary {
    @apply bg-[var(--primary-20)] text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .btn-secondary {
    @apply text-black bg-transparent border border-neutral-300;
  }
  .btn-alt {
    @apply text-center px-3 py-0.5 rounded-xl font-medium border  border-neutral-300;
  }
  .text-gradient {
    @apply bg-gradient-to-b from-[var(--shades-10)] to-[var(--primary-40)] text-transparent bg-clip-text leading-14 md:leading-20;
  }
  
  .logo-ticker-image {
    @apply h-6 md:h-8 w-auto ;
  }
}




/* Failed Fonts */

/* @font-face {
  font-family: supreme-thin;
  src: url("../fonts/Supremell/SupremeLL-Thin.otf");
}
@font-face {
  font-family: supreme-light;
  src: url("../fonts/Supremell/SupremeLL-Light.otf");
}

@font-face {
  font-family: supreme-medium;
  src: url("../fonts/Supremell/SupremeLL-Medium.otf");
}
@font-face {
  font-family: supreme-regular;
  src: url("../fonts/Supremell/SupremeLL-Regular.otf");
} */

/* @font-face {
  font-family: supreme-bold;
  src: url("../fonts/Supremell/SupremeLL-Bold.otf");
} */
